In [2]:
import json
from pprint import pprint
import pandas as pd
import urllib.request

In [3]:
url_csv ="https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2016-10-01&endtime=2016-10-02"

In [4]:
# No. of elements in the object generated using ‘features’ attribute of the API call
data=pd.read_csv(url_csv)
print (data.head())

                       time   latitude   longitude  depth   mag magType   nst  \
0  2016-10-01T23:52:08.370Z  38.860700 -118.895700   5.30  1.00      ml  12.0
1  2016-10-01T23:51:28.720Z  40.676333 -124.254833  27.40  2.52      md  25.0
2  2016-10-01T23:51:11.360Z  31.622500 -116.020000  10.19  2.57      ml  15.0
3  2016-10-01T23:47:59.890Z  36.698667 -121.328167   4.31  2.06      md  51.0
4  2016-10-01T23:40:33.600Z  33.140500 -115.614500   5.02  1.45      ml  23.0

      gap     dmin     rms    ...                      updated  \
0   76.91  0.37300  0.1264    ...     2018-07-02T18:04:42.076Z
1  167.00  0.04144  0.1000    ...     2017-02-11T02:13:40.610Z
2  184.00  0.30610  0.1500    ...     2016-10-03T20:21:28.100Z
3   38.00  0.05495  0.0700    ...     2017-02-11T02:13:27.620Z
4   93.00  0.03470  0.1900    ...     2016-10-03T19:48:14.786Z

                                 place        type horizontalError depthError  \
0        27km ESE of Yerington, Nevada  earthquake             NaN       2.70
1  7km SW of Humboldt Hill, California  earthquake            0.72       0.73
2      53km ESE of Maneadero, B.C., MX  earthquake            0.39       0.79
3    13km SSE of Ridgemark, California  earthquake            0.13       0.52
4             10km W of Calipatria, CA  earthquake            0.21       0.44

   magError  magNst    status  locationSource magSource
0       NaN     NaN  reviewed              nn        nn
1     0.182    30.0  reviewed              nc        nc
2     0.164    37.0  reviewed              ci        ci
3     0.241    58.0  reviewed              nc        nc
4     0.172    22.0  reviewed              ci        ci

[5 rows x 22 columns]

In [5]:
cols = data.columns
cols[0:]

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'nst',
       'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place', 'type',
       'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource'],
      dtype='object')

In [6]:
#Writing the dataframe to csv file
df = pd.read_csv(url_csv, usecols=['latitude', 'longitude', 'place', 'mag'])
df['title'] = 'M ' + df['mag'].map(str) + ' - ' + df['place']

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 5 columns):
latitude     309 non-null float64
longitude    309 non-null float64
mag          309 non-null float64
place        309 non-null object
title        309 non-null object
dtypes: float64(3), object(2)
memory usage: 12.1+ KB

In [19]:
df.head()

,latitude,longitude,mag,place,title
0,38.860700,-118.895700,1.00,"27km ESE of Yerington, Nevada","M 1.0 - 27km ESE of Yerington, Nevada"
1,40.676333,-124.254833,2.52,"7km SW of Humboldt Hill, California","M 2.52 - 7km SW of Humboldt Hill, California"
2,31.622500,-116.020000,2.57,"53km ESE of Maneadero, B.C., MX","M 2.57 - 53km ESE of Maneadero, B.C., MX"
3,36.698667,-121.328167,2.06,"13km SSE of Ridgemark, California","M 2.06 - 13km SSE of Ridgemark, California"
4,33.140500,-115.614500,1.45,"10km W of Calipatria, CA","M 1.45 - 10km W of Calipatria, CA"

In [7]:
#writing dataframe to csv file
df.to_csv('earthquakes_data.csv', sep='\t', encoding='utf-8')
df.to_csv('earth')

In [8]:
#How many rows will be there in the csv file after all the data is extracted 
print(df.describe())

         latitude   longitude         mag
count  309.000000  309.000000  309.000000
mean    39.929258 -109.941251    1.651780
std     20.992373   69.253624    1.352043
min    -58.771000 -179.944800   -0.800000
25%     33.792833 -147.750500    0.800000
50%     38.822334 -121.149333    1.180000
75%     60.113100 -116.068833    2.030000
max     68.495900  173.907600    5.600000

In [9]:
#magnitude more than 2
len(df[(df['mag']>2)])

80

In [10]:
#How many times the earthquake has occurred in at a place where the place description contains the string “California”
df['place'].str.contains('California').value_counts()[True]

66

In [11]:
#magnitude more than 5
len(df[(df['mag']>5)])

6

In [12]:
#to show records where magnitude was greater than 5
df.loc[df['mag']>5]

,latitude,longitude,mag,place,title
56,-27.8057,-176.8154,5.1,"193km NNE of Raoul Island, New Zealand","M 5.1 - 193km NNE of Raoul Island, New Zealand"
122,40.7827,-29.3360,5.2,"212km NE of Santa Cruz das Flores, Portugal","M 5.2 - 212km NE of Santa Cruz das Flores, Por..."
203,34.9048,73.6822,5.4,"41km NNW of Athmuqam, Pakistan","M 5.4 - 41km NNW of Athmuqam, Pakistan"
259,-23.5705,-179.9448,5.3,South of the Fiji Islands,M 5.3 - South of the Fiji Islands
284,-13.1076,167.1984,5.1,"93km NNW of Sola, Vanuatu","M 5.1 - 93km NNW of Sola, Vanuatu"
298,-23.6806,-174.9261,5.6,"259km S of `Ohonua, Tonga","M 5.6 - 259km S of `Ohonua, Tonga"